version: "3.8"

services:
  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    restart: always
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      # .env 파일의 변수 참조
      MB_DB_HOST: ${POSTGRES_HOST} 
      MB_DB_PORT: 5432
      MB_DB_USER: ${MB_USER}
      MB_DB_PASS: ${MB_PASSWORD} # 민감 정보 숨김
      MB_DB_DBNAME: ${MB_DATABASE}
    volumes:
      - metabase_data:/metabase-data

volumes:
  metabase_data:
